//стили текста
@mixin text($weight, $height:$line-height, $size: $font-size-normal, $color: $font-global-color) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $height;
};
